@model IEnumerable<EvoluxIoT.Models.Synapse.Synapse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hostname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetworkStatusSince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hostname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetworkStatusSince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Identifier">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Identifier">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Identifier">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
